@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --foreground-rgb: 0, 0, 0;
    --background-start-rgb: 214, 219, 220;
    --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
    :root {
        --foreground-rgb: 255, 255, 255;
        --background-start-rgb: 0, 0, 0;
        --background-end-rgb: 0, 0, 0;
    }
}

body {
    font-family: courier-new, courier, monospace;
}

::-webkit-scrollbar {
    @apply w-1 h-1;
}
::-webkit-scrollbar-thumb {
    @apply rounded-lg bg-stone-300 hover:bg-stone-400;
}
